<%= form_with(model: ad, local: true) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <span class="picture">
      <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <form accept-charset="UTF-8" action="/home/index" method="post">
    <div style="margin:0;padding:0">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
    </div>
    広告画像をアップロードしてください！
  </form>

  <div class="actions">
    <%= form.submit %>
  </div>



<** when you 

<% end %>


<script type="text/javascript">
  $('#ad_picture').bind('change', function() {
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Please upload an image less than 5 MB.');
  }
});  //add javascript to limit the size of pictures by client side.(however seems not used)
</script>
