<p id="notice"><%= notice %></p>

<h1>Your Advertisements</h1>

<table border="1">
  <thead>
    <tr>
      <th>広告</th>
      <th>画像</th>
      <th>単価</th>
      <th>リンク</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.body %></td>
        <td><%= image_tag ad.picture.url if ad.picture? %></td>
        <td><%= ad.price %></td>
        <td><%= ad.url %></td>

        <td><%= link_to '詳細', ad %></td>
        <td><%= link_to '更新', edit_ad_path(ad) %></td>
        <td><%= link_to '削除', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
