<p id="notice"><%= notice %></p>

<h1>Your Reports</h1>

<table>
  <thead>
    <tr>

      <th>Ad_id</th>
      <th>Impresssion</th>
      <th>Click</th>
      <th>CTR</th>
      <th>CPM</th>
      <th>TotalCost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>

        <td><%= report.ad_id %></td>
        <td><%= report.imp %></td>
        <td><%= report.click %></td>
        <td><%= report.ctr %></td>
        <td><%= report.cpm %></td>
        <td><%= report.totalcost %></td>

        <td><%= link_to '詳細', report %></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>
