<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @ad.body %>
</p>

<p>
  <strong>Ad_id:</strong>
  <%= @report.ad_id %>
</p>

<p>
  <strong>Imp:</strong>
  <%= @report.imp %>
</p>

<p>
  <strong>Click:</strong>
  <%= @report.click %>
</p>

<p>
  <strong>CTR:</strong>
  <%= @report.ctr %>
</p>

<p>
  <strong>CPM:</strong>
  <%= @report.cpm %>
</p>

<p>
  <strong>TotalCost:</strong>
  <%= @report.totalcost %>
</p>


<%= link_to 'Back', reports_path %>
